<div class="container-fluid">
	<div class="row footer">
	  <div class="col-md-6">@2018 CryptoKittyHub</div>
	  
	  <a href="https://www.facebook.com/RealChuckFresco/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
		            <a href="https://twitter.com/ChuckFresco"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
		            <a href="https://www.youtube.com/channel/UCW5Dxv1g4G3Zvgg9K4a0xOA"><i id="social-yt" class="fa fa-youtube-square fa-2x social"></i></a> 
		            <a href="mailto:chuckfrescoofficial@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i>
		</a>
	  </div>

	   
	</div>
</div>