<footer class="small-section bg-dark footer pb-60">
    <div class="container">
        
        <!-- Social Links -->
        <div class="footer-social-links mb-60 mb-xs-40">
            <a href="https://www.facebook.com/RealChuckFresco/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/ChuckFresco" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/ChuckFresco" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="mailto:chuckfrescoofficial@gmail.com" title="Mail" target="_blank"><i class="fa fa-envelope"></i></a>
  
        </div>
        <!-- End Social Links -->  
        
        <!-- Footer Text -->
        <div class="footer-text">
            
            <!-- Copyright -->
            <div class="footer-copy">
                <a href="#" target="_blank">&copy; AxieHub 2018</a>
            </div>
            <!-- End Copyright -->
            
            <div class="footer-made">
                Made with love for Axie gamers.
            </div>
            
        </div>
        <!-- End Footer Text --> 
        
     </div>
     
     
     <!-- Top Link -->
     <div class="local-scroll">
         <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
     </div>
     <!-- End Top Link -->
     
</footer>





