.jumbotron {
  background: #4fc3ff !important;
  color: white !important;
  padding-bottom: 40px !important; }
  .jumbotron .btn-primary {
    background: ##ecf8ff !important;
        border-color: ##ecf8ff !important; }
    .jumbotron .btn-primary:hover {
      background: #7646c1 !important;  }
  .jumbotron p {
    color: #e9f7ff !important;
    max-width: 75% !important;
    margin: 1em auto 2em !important; }
  .navbar + .jumbotron {
    margin-top: -20px !important; }
  .jumbotron .lang-logo2{
    display: block !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    width: 150px !important;
    height: 150px !important;
    margin: auto;
    border: 1px solid  !important }
    .jumbotron .lang-logo2 img {
      max-width: 100% !important; }


body { 
  background: url('../img/bg/background-3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}

.logo2 {
    display: block !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    width: 150px !important;
    height: 150px !important;
    margin: auto;
    border: 2px solid  !important 
  };


.panel {
    color: #6f6b64 !important;
    font-size: 15px !important;
    background: rgba(255,255,255,.95) !important;
    border-radius: 0 !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-left: 4px solid #e4c049 !important;
    border-right: none !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 10px !important;
}

section {
    color: #6f6b64 !important;
    font-size: 15px !important;
    background: rgba(255,255,255,.90) !important;

    border-top-right-radius: 10px !important;
    border-top-left-radius: 0 !important;

    border-bottom-right-radius: 10px !important;
    border-left: 4px solid #e4c049 !important;
    border-right: none !important;

    padding: 10px !important;

    margin-left: 10px;
    margin-right: 10px;

    



    margin-bottom:10px !important;
}



/*#sidebarTop {
    background: #e4c049;
    height: 5px;
    position: absolute;
    top: -20px;
    width: 100%;
    left: 0;
    border-right: 333.3px solid transparent;
    border-bottom: 20px solid #e4c049;
    background: 0 0;
}
*/

.sidebar {
    padding: 10px !important;
    color: #6f6b64 !important;
    font-size: 15px !important;
    background: rgba(255,255,255,.95) !important;

    position: relative;
    border-left: 4px solid #e4c049 !important;
    position: relative;
    left: 5px;
}


footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

nav{
    background-color: black !important;
    color: white !important;
}

.nav{
    background-color: black !important;
    color: white !important;
}


.footer{
    margin-left: 2px;
    margin-left: 2px;
}

.margin-top-10{
    margin-top: 10px;

}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }



/*Youtube Code */

  /* First make sure the video thumbnail images are responsive. */
    img {
      max-width: 100%;
      height: auto;
    }

  /* 
  This is the starting grid for each video with thumbnails 5 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */
  .video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 18%; /* Thumbnails 5 across */
    margin: 1%;
    float: left;
  }

   /* These keep the height of each video consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. */
  .video figure {
    height: 0;
    padding-bottom: 60%;

  }

  /* Media Queries - This is the responsive grid. */
  @media (max-width: 1366px) {
    .video {
      width: 23%; /* Thumbnails 4 across */
    }
  }
  @media (max-width: 1024px) {
    .video {
      width: 31.333%; /* Thumbnails 3 across */
    }
  }
  @media (max-width: 600px) {
    .video {
      width: 48%; /* Thumbnails 2 across */
    }
  }
  @media (max-width: 360px) {
    .video {
      display: block;
      width: 96%; /* Single column view. */
      margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
      float: none;
    }
  }
  

  /* These are my preferred rollover styles. */
  .video img {
    width: 100%;
    opacity: 1;
  }
  .video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
  }