.jumbotron {
  background: #4fc3ff !important;
  color: white !important;
  padding-bottom: 40px !important; }
  .jumbotron .btn-primary {
    background: ##ecf8ff !important;
        border-color: ##ecf8ff !important; }
    .jumbotron .btn-primary:hover {
      background: #7646c1 !important;  }
  .jumbotron p {
    color: #e9f7ff !important;
    max-width: 75% !important;
    margin: 1em auto 2em !important; }
  .navbar + .jumbotron {
    margin-top: -20px !important; }
  .jumbotron .lang-logo {
    display: block !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    width: 150px !important;
    height: 150px !important;
    margin: auto;
    border: 2px solid  !important }
    .jumbotron .lang-logo img {
      max-width: 100% !important; }

body {

    background-image: url('../img/bg/nature-transparent.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.panel {
    color: #6f6b64 !important;
    font-size: 15px !important;
    background: rgba(255,255,255,.95) !important;
    border-radius: 0 !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-left: 4px solid #e4c049 !important;
    border-right: none !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 10px !important;
}


/*#sidebarTop {
    background: #e4c049;
    height: 5px;
    position: absolute;
    top: -20px;
    width: 100%;
    left: 0;
    border-right: 333.3px solid transparent;
    border-bottom: 20px solid #e4c049;
    background: 0 0;
}
*/

.sidebar {
    color: #6f6b64 !important;
    font-size: 15px !important;
    background: rgba(255,255,255,.95) !important;

    position: relative;
    border-left: 4px solid #e4c049 !important;
    position: relative;
    left: 5px;
}


footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}


.footer{
    margin-left: 2px;
    margin-left: 2px;
    height:40px;

}

.margin-top-10{
    margin-top: 10px;

}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }