.jumbotron {
  background: #4fc3ff;
  color: white;
  padding-bottom: 40px; }
  .jumbotron .btn-primary {
    background: ##ecf8ff;
        border-color: ##ecf8ff; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #e9f7ff;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

body {

    background-image: url('../img/bg/nature-transparent.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.panel {
    color: #6f6b64;
    font-size: 15px;
    background: rgba(255,255,255,.95);
    border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 4px solid #e4c049;
    border-right: none;
    border-top: 0;
    border-bottom: 0;
    padding: 10px;
}