<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="Axie Infinity guide, Axie guide, Axie Blog, Axie Infinity video, Chuck Fresco, axiehub">
  <meta name="description" content="Guide to Axie Infinity">

  <title> Axie Infinity Guide</title>

        
          <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon-32x32.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        
        
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style-responsive.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/magnific-popup.css">     
        
</head>

  <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">

            <% include ../partials/nav-new.ejs %>
            
            

            
            
            <!-- Head Section -->
            <section class="small-section bg-dark-alfa-90 bg-scroll" data-background="images/full-width-images/section-bg-2.jpg">
                <div class="relative container align-left">
                    
                    <div class="row">
                        
                        <div class="col-md-8">
                            <h1 class="section-heading mb-10 mb-xs-0">Axie Blog</h1>
                            <div class="hs-line-4 uppercase">
                                We share the lastest Axies news and guides
                            </div>
                        </div>
                        
                        <div class="col-md-4 mt-30">
                            <div class="mod-breadcrumbs align-right">
                                <a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Blog</a>&nbsp;/&nbsp;<span>Axie</span>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Head Section -->
            
            <!-- Blog-->
                <section class="page-section">
                  <div class="container relative">
                    <!---->
                    <!---->
                    <div class="section-content" id="blogContent">
                      <div class="row" id="jsonContent"></div>
                    </div>
                    <!-- /#blogContent-->
                    <div class="text-center"><a class="btn btn btn-mod btn-color btn-large btn-circle" id="loadBlogPosts" href="https://medium.com/feed/@chuckfrescoofficial">View All <span class="fa fa-angle-double-right"></span></a></div>
                  </div>
                  <!-- /.container-->
                </section>

            <!-- Section -->

<!--
            <section class="page-section">
                <div class="container relative">
                    
                    <div class="row">
                        
               
                        <div class="col-sm-10 col-sm-offset-1">
                            
  
                           
                            <div class="blog-item">
                                
                            
                                <div class="blog-item-date">
                                    <span class="date-num">27</span>Jan
                                </div>
                                
                                <h2 class="blog-item-title"><a href="blog-single-sidebar-right.html">Image post only</a></h2>
                                
                                
                                <div class="blog-item-data">
                                    <a href="#"><i class="fa fa-user"></i> John Doe</a>
                                    <span class="separator">&nbsp;</span>
                                    <i class="fa fa-folder-open"></i>
                                    <a href="">Design</a>, <a href="#">Branding</a>
                                    <span class="separator">&nbsp;</span>
                                    <a href="#"><i class="fa fa-comments"></i> 5 Comments</a>
                                </div>
                                
                                
                                <div class="blog-media">
                                    <a href="blog-single-sidebar-right.html"><img src="images/portfolio/full-project-4.jpg" alt="" /></a>
                                </div>
                                
                                
                                <div class="blog-item-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Aliquam ac libero et diam rutrum rutrum. Nullam interdum mattis ipsum at convallis. 
                                    </p>
                                </div>
                                
                             
                                <div class="blog-item-foot">
                                    <a href="blog-single-sidebar-right.html" class="btn btn-mod btn-color  btn-small">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                                
                            </div>
                           <div class="pagination">
                                <a href=""><i class="fa fa-angle-left"></i></a>
                                <a href="" class="active">1</a>
                                <a href="">2</a>
                                <a href="">3</a>
                                <a class="no-active">...</a>
                                <a href="">9</a>
                                <a href=""><i class="fa fa-angle-right"></i></a>
                            </div>  
                            
                        </div>
                        
                    </div>
                    
                </div>
            </section> -->
            <!-- End Section -->
            
            
            <!-- Foter -->
     
           
              <% include ../partials/footer-new.ejs %>
            <!-- End Foter -->
        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="js/SmoothScroll.js"></script>
        <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="js/all.js"></script>
        <script type="text/javascript" src="js/contact-form.js"></script>
        <script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script> 
           <script type="text/javascript" src="js/jquery-dateformat.min.js"></script>       
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->

<script>
$(function() {
  var $content = $("#jsonContent");
  var data = {
    rss_url: "http://medium.com/feed/@chuckfrescoofficial"
  };
  $.get("https://api.rss2json.com/v1/api.json", data, function(response) {
    if (response.status == "ok") {
      var output = "";
      $.each(response.items, function(k, item) {
        var visibleSm;
        if (k < 3) {
          visibleSm = "";
        } else {
          visibleSm = " visible-sm";
        }
        output += '<div class="col-sm-10 col-sm-offset-1' + visibleSm + '">';
        output += '<div class="blog-item">';
        output +=
          '<div class="blog-item-date"> <span class="date-num">' + 
          $.format.date(item.pubDate, "dd<br>MMM") +
          "</span></div>";
        output += '<h2 class="blog-item-title"><a href="' + item.link +'">'+item.title + '</a></h2>';
        output += '<div class="blog-item-data"><a href="#"><i class="fa fa-user"></i>' + item.author +'</a><span class="separator">&nbsp;</span><i class="fa fa-folder-open"></i><a href="">Design</a>, <a href="#">Branding</a><span class="separator">&nbsp;</span><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></div>';
        var tagIndex = item.description.indexOf("<img"); // Find where the img tag starts
        var srcIndex =
          item.description.substring(tagIndex).indexOf("src=") + tagIndex; // Find where the src attribute starts
        var srcStart = srcIndex + 5; // Find where the actual image URL starts; 5 for the length of 'src="'
        var srcEnd =
          item.description.substring(srcStart).indexOf('"') + srcStart; // Find where the URL ends
        var src = item.description.substring(srcStart, srcEnd); // Extract just the URL
        output +=
          '<div class="blog-media"><img class="" src="' +
          src +
          '"></div>';
        output +=
          '<div class="blog-item-body">';
        var yourString = item.description.replace(/<img[^>]*>/g, ""); //replace with your string.
        var maxLength = 300; // maximum number of characters to extract
        //trim the string to the maximum length
        var trimmedString = yourString.substr(0, maxLength);
        //re-trim if we are in the middle of a word
        trimmedString = trimmedString.substr(
          0,
          Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))
        );
        output += " " + trimmedString + "...";
        output += '<div class="blog-item-foot"><a href="'+item.link+'" class="btn btn-mod btn-color  btn-small">Read More <i class="fa fa-angle-right"></i></a></div>'
        output += "</div></div></div>";
        return k < 3;
      });
      $content.html(output);
    }
  });
});
</script>

</body>




</html>


