<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/chuck-fresco-logo.jpg">
    </a>
    <h1>Bringing tools to CryptoKitties players </h1>
    <p>CryptoKitties giveaway once a week!</p>

    <div class="container-fluid">
    <div class="row">
    
       <a style="margin-top:5px;" type="button" class="btn btn-lg btn-default" href="#giveaway"><span class="glyphicon glyphicon-flash"></span> Weekly Giveaways</a>
    
    
        <a style="margin-top:5px;" target="_blank" type="button" class="btn btn-lg btn-primary " href="https://www.cryptokitties.co/profile/0x730952cc677b1f432893d53cbf528baccbbf2441/all?orderBy=current_price&orderDirection=asc"><span class="glyphicon glyphicon-shopping-cart"></span> Kitties for Sale</a>
    
    </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To receive further help or learn the fundamentals of CryptoKitties, head over to the <a href="https://discord.gg/3GvT66U" class="alert-link">CryptoKitties Discord <span class="glyphicon glyphicon-new-window"></span></a>.
  </div>
  <hr>
  <div class="row maincontent">
    <div class="col-md-6 panel">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How to Enter the Giveaway</h3>

      In order to enter in the weekly giveaway please do the following on the form. Winners will be announced on  <a href="https://twitter.com/chuckfresco" class="alert-link">Twitter <span class="glyphicon glyphicon-new-window"></span></a>.

      <ul>
        <li>Like 8 Kitties on my CryptoKitties Page <b>(required)</b></li>

        <li>Provide your CryptoKitties Public Address (to send Gift Kitty) <b>(required)</b></li>
        

        <h4> Additional ways enter giveaway <b>(optional)</b> </h4>

        <li>Subscribe to my Youtube Channel</li>
        <li>Watch my Latest Youtube Video</li>
        <li>Follow me on Twitter (Winners announced on this page)</li>
      </ul>
    </div>
    <div class="col-md-6 sidebar">

      <h3><span id="giveaway" class="glyphicon glyphicon-link"></span> Weekly Giveaway </h3>

<!-- Giveaway Code -->
 <a class="e-widget no-button" href="https://gleam.io/cTCF4/cryptokitties-giveaway" rel="nofollow">CryptoKitties Giveaway</a>
<script type="text/javascript" src="https://js.gleam.io/e.js" async="true"></script>

<!--      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>

    -->
<!--
    <div class="row">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div>  

-->
</div>

</div>

   <div class="alert alert-info text-center margin-top-10" role="alert">
    Please remember CryptoKitties is a game and is not meant to be an investment. Play safe and have fun!
  </div>

</div>


