<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo2">
      <img src="/chuck-fresco-logo.jpg">
    </a>
    <h1>Bringing tools to CryptoKitties players </h1>
    <p>CryptoKitties giveaway once a week!</p>

    <div class="container-fluid">
    <div class="row">
    
       <a style="margin-top:5px;" type="button" class="btn btn-lg btn-default" href="#giveaway"><span class="glyphicon glyphicon-flash"></span> Weekly Giveaways</a>
    
    
        <a style="margin-top:5px;" target="_blank" type="button" class="btn btn-lg btn-primary " href="https://www.cryptokitties.co/profile/0x730952cc677b1f432893d53cbf528baccbbf2441/all?orderBy=current_price&orderDirection=asc"><span class="glyphicon glyphicon-shopping-cart"></span> Kitties for Sale</a>
    
    </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="alert alert-info" role="alert">

    <h2> What is CryptoKitties?</h2>
    <p>CryptoKitties is a game centered around breedable, collectible, and oh-so-adorable creatures we call CryptoKitties! Each cat is one-of-a-kind and 100% owned by you; it cannot be replicated, taken away, or destroyed.
    </p>
  </div>
  <hr>
  <div class="row maincontent">
    <div class="col-md-6 panel">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How to Enter the Giveaway</h3>

      In order to enter in the weekly giveaway please do the following on the form. Winners will be announced on  <a href="https://twitter.com/chuckfresco" class="alert-link">Twitter <span class="glyphicon glyphicon-new-window"></span></a>.

      <ul>
        <li>Like 8 Kitties on my CryptoKitties Page <b>(required)</b></li>

        <li>Provide CryptoKitties Public Address (to Gift Kitty) <b>(required)</b></li>
        

        <h4> Additional ways enter giveaway <b>(optional)</b> </h4>

        <li>Subscribe to my Youtube Channel</li>
        <li>Watch my Latest Youtube Video</li>
        <li>Follow me on Twitter (Winners announced on this page)</li>
        <a href="https://twitter.com/ChuckFresco?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ChuckFresco</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </ul>

    </div>
    <div class="col-md-6 sidebar">

      <h3><span id="giveaway" class="glyphicon glyphicon-link"></span> Weekly Giveaway </h3>

<!-- Giveaway Code -->
<a class="e-widget no-button" href="https://gleam.io/Zucql/cryptokitties-giveaway-6" rel="nofollow">CryptoKitties Giveaway 6</a>
<script type="text/javascript" src="https://js.gleam.io/e.js" async="true"></script>


</div>

</div>

<div class="row margin-top-10" style="background-color:white">
  <div  class ="text-center">
        <h2> My Marketplace</h2>

      </div>
  <div id="cryptokitties"></div>



</div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->

   <div class="alert alert-info text-center margin-top-10" role="alert">
    Please remember CryptoKitties is a game and is not meant to be an investment. Play safe and have fun!
  </div>

</div>


