<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="Axie Infinity guide,  Axie guide, axie infinity tutorial, axie infinity, What is Axie, axiehub">
  <meta name="description" content="Guide to Axie Infinity">

  <title>Axie Hub</title>


        <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon-32x32.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style-responsive.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/rev-slider.css">
        <link rel="stylesheet" href="rs-plugin/css/settings.css" media="screen" />

        <!-- Color Schemes :: Uncomment one for apply :: -->
        <!-- <link rel="stylesheet" href="css/colors/yellow.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/orange.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/orange-deep.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/brown.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/blue-gray.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/red.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/purple.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/indigo.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/blue.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/cyan.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/green.css"> -->
        <!-- <link rel="stylesheet" href="css/colors/green-light.css"> -->

</head>

  <body class="appear-animate">


          <!-- Page Loader -->
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Page Wrap -->
        <div class="page" id="top">

            <!-- Navigation panel -->

              <% include ../partials/nav-new.ejs %>
            <!-- End Navigation panel -->


            <!-- Home Section -->
            <div class="home-section fullscreen-container" id="home">
                <div class="fullscreenbanner bg-dark">
                    <ul>

                        <!-- Slide Item -->
                        <li data-transition="fade" data-slotamount="7" data-title="Home">

                            <img src="images/full-width-images/axie-bg-home-3.jpg" alt="">



                               <div class="caption customin customout tp-resizeme hs-line-11"
                                   data-x="center"
                                   data-hoffset="0"
                                   data-y="center"
                                   data-voffset="-100"
                                   data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                                   data-speed="800"
                                   data-start="800"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   The  <strong>Axie Hub</strong>

                                </div>

                                <div class="caption customin customout tp-resizeme hs-line-2"
                                   data-x="center"
                                   data-hoffset="0"
                                   data-y="center"
                                   data-voffset="-14"
                                   data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1200"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   BRINGING TOOLS TO DAPP GAMERS

                                </div>


                                <div class="caption customin customout tp-resizeme"
                                   data-x="center"
                                   data-hoffset="0"
                                   data-y="center"
                                   data-voffset="93"
                                   data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1500"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   <div class="local-scroll">
                                       <!-- <a href="#about" class="btn btn-mod btn-large btn-w hidden-xs">See More</a>
                                        <span class="hidden-xs">&nbsp;</span> -->
                                        <a href="#giveaway" class="btn btn-mod btn-large btn-color" target="_blank">Weekly Giveaway</a>
                                    </div>

                                </div>

                        </li>
                        <!-- End Slide Item -->



                        <!-- Slide Item -->
                      <!--  <li data-transition="fade" data-slotamount="7" data-title="Black Slide">

                            <img src="images/full-width-images/section-bg-19.jpg"  alt="">


                               <div class="caption customin customout tp-resizeme hs-line-10"
                                   data-x="center"
                                   data-hoffset="0"
                                   data-y="center"
                                   data-voffset="-100"
                                   data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                                   data-speed="800"
                                   data-start="1000"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   We are just <strong>creative people</strong>

                                </div>

                                <div class="caption customin customout tp-resizeme hs-line-9"
                                   data-x="center"
                                   data-hoffset="0"
                                   data-y="center"
                                   data-voffset="10"
                                   data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1300"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   Smart Design Lovers

                                </div>


                                <div class="caption customin customout tp-resizeme"
                                   data-x="center"
                                   data-hoffset="0"
                                   data-y="center"
                                   data-voffset="125"
                                   data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1500"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   <div class="local-scroll">

                                        <a href="#about" class="btn btn-mod btn-large btn-w">
                                            See More
                                        </a>

                                        <span>&nbsp;</span>

                                        <a href="pages-pricing-1.html" class="btn btn-mod btn-large btn-color">
                                            Get Pricing
                                        </a>

                                    </div>

                                </div>

                        </li> -->
                        <!-- End Slide Item -->


                        <!-- Slide Item -->
                        <!-- <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-title="Cup of Dream">

                            <img src="images/full-width-images/section-bg-20.jpg" alt="">


                               <div class="caption customin customout tp-resizeme mediumlarge_light_white"
                                   data-x="center"
                                   data-y="center"
                                   data-voffset="-80"
                                   data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                                   data-speed="800"
                                   data-start="1000"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   <a href="http://vimeo.com/channels/staffpicks/116829150" class="big-icon-link lightbox-gallery-1 mfp-iframe"><span class="big-icon big-icon-rs"><i class="fa fa-play-circle"></i></span></a>

                               </div>

                                <div class="caption customin customout tp-resizeme hs-line-13"
                                   data-x="center"
                                   data-y="center"
                                   data-hoffset="0"
                                   data-voffset="30"
                                   data-customin="x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1300"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">


                                   Unique Design

                                </div>


                                <div class="caption customin customout tp-resizeme hs-line-3"
                                   data-x="center"
                                   data-y="center"
                                   data-voffset="130"
                                   data-customin="x:50;y:300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1500"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                       Branding / Design / Development / Photo
                                 </div>

                        </li> -->
                        <!-- End Slide Item -->


                        <!-- Slide Item -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-title="Our YouTube">

                            <img src="images/full-width-images/axie-bg-video.jpg"  alt="">


                               <div class="caption customin customout tp-resizeme hs-line-11"
                                   data-x="30"
                                   data-y="center"
                                   data-voffset="-140"
                                   data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                                   data-speed="800"
                                   data-start="1000"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   Introducing Video Guides

                               </div>

                                <div class="caption fade customout tp-resizeme hs-line-2"
                                   data-x="30"
                                   data-y="center"
                                   data-voffset="-9"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1300"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   <span class="uppercase">Subscribe to our <br />YouTube Channel</span>

                                </div>

                                <div class="caption customin customout tp-resizeme large_bold_white"
                                   data-x="30"
                                   data-y="center"
                                   data-voffset="140"
                                   data-customin="x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1500"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn">

                                   <div class="local-scroll">

                                        <a href="https://www.youtube.com/ChuckFresco" target="_blank" class="btn btn-mod btn-w btn-large">
                                            Learn More
                                        </a>

                                    </div>

                                </div>


                                <div class="caption customin customout tp-resizeme"
                                   data-x="right"
                                   data-hoffset="0"
                                   data-y="center"
                                   data-voffset="0"
                                   data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                   data-speed="800"
                                   data-start="1800"
                                   data-startslide="1"

                                   data-easing="Power4.easeOut"
                                   data-endspeed="500"
                                   data-endeasing="Power4.easeIn"
                                   data-autoplay="false"
                                   data-autoplayonlyfirsttime="false">

                                  <iframe width="480" height="275" src="https://www.youtube.com/embed/-csQzxetGW8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                   <!-- <iframe src="http://player.vimeo.com/video/56152991?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="480" height="275" allowfullscreen>
                                   </iframe>-->

                                </div>



                        </li>
                        <!-- End Slide Item -->


                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
            <!-- End Home Section -->

             <!-- Promo Section -->
            <section class="split-section bg-gray">
                <div class="clearfix relative">

                    <!-- Section Headings -->
                    <div class="split-section-headings left">
                        <div class="ssh-table">
                            <div class="ssh-cell page-section bg-scroll" data-background="images/split-sections/kotarofight-2.jpg"></div>
                        </div>
                    </div>
                    <!-- End Section Headings -->

                    <!-- Section Content -->
                    <div class="split-section-content right small-section bg-gray-lighter">

                        <div class="split-section-wrapper">

                            <h1 class="section-title"></h1>

                            <h2 class="section-heading uppercase strong">What is Axie</h2>

                            <div class="section-text mb-60">
                              Axie Infinity is a digital pet community centered around collecting, training, raising, and battling fantasy creatures called Axie.
                              <br><br>
                              Each Axie has unique genetic data stored on the Ethereum blockchain. Each Axie can possess 6 out of hundreds of possible body parts. Each body part has their own battle move so the combinations for creating unique little battlers are infinite!
                                <br><br>
                              Axie Infinity is the first game game built on the blockchain to feature animated characters and rich,immersive gameplay.
                              Axie Infinity was founded to empower gamers by giving them true ownership of their game assets and to make blockchain technology accessible to anyone who’s ever played a game like Pokemon or Tomogochi.


                            </div>



                        </div>

                    </div>
                    <!-- End Section Content -->

                </div>
            </section>
            <!-- End Promo Section -->



            <!-- Promo Section -->
            <section class="split-section bg-gray" id="giveaway">
                <div class="clearfix relative">

                    <!-- Section Headings -->
                    <div class="split-section-headings right">
                        <div class="ssh-table">
                            <div class="ssh-cell page-section bg-scroll">

                              <a class="e-widget no-button" href="https://gleam.io/LKQ27/axie-giveaway" rel="nofollow">Axie Giveaway</a>
<script type="text/javascript" src="https://js.gleam.io/e.js" async="true"></script>


                            </div>
                        </div>
                    </div>
                    <!-- End Section Headings -->

                    <!-- Section Content -->
                    <div class="split-section-content left small-section bg-gray-lighter">

                        <div class="split-section-wrapper">

                            <h1 class="section-title">Contests</h1>

                            <h2 class="section-heading uppercase strong">How to enter the Giveway</h2>

                            <div class="section-text mb-60">

                              In order to enter in the weekly giveaway please do the following on the <b>Form</b> . Winners will be announced on  <a href="https://twitter.com/chuckfresco" class="alert-link">Twitter <span class="glyphicon glyphicon-new-window"></span></a>.

                                    <ul>
                               <!--     <li>Like 8 Kitties on my CryptoKitties Page <b>(required)</b></li>-->

                                    <li>Provide Axie Infinity Public Address (to Gift Axie) <b>(required)</b></li>


                                    <b> Additional ways enter giveaway <b>(optional)</b> </b>
                                     <li>Watch my Latest Youtube Video </li>

                                    <li>Subscribe to my Youtube Channel</li>
                                    <li>Follow me on Twitter (Winners announced on this page)</li>
                                    <a href="https://twitter.com/ChuckFresco?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ChuckFresco</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                  </ul>


                            </div>

                            <div class="row alt-features-grid">

                                <!-- Features Item -->
                                <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s">
                                    <div class="alt-features-item align-center">
                                        <div class="alt-features-icon color">
                                            <span class="icon-hourglass"></span>
                                        </div>
                                       <!-- <h3 class="alt-features-title">Unique Design</h3> -->
                                    </div>
                                </div>
                                <!-- End Features Item -->

                                <!-- Features Item -->
                                <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="alt-features-item align-center">
                                        <div class="alt-features-icon color">
                                            <span class="icon-twitter"></span>
                                        </div>
                                        <!-- <h3 class="alt-features-title">Quality Code</h3> -->
                                    </div>
                                </div>
                                <!-- End Features Item -->

                                <!-- Features Item -->
                                <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="alt-features-item align-center">
                                        <div class="alt-features-icon color">
                                            <span class="icon-gift"></span>
                                        </div>
                                       <!-- <h3 class="alt-features-title">Easy Customization</h3> -->
                                    </div>
                                </div>
                                <!-- End Features Item -->

                            </div>

                        </div>

                    </div>
                    <!-- End Section Content -->

                </div>
            </section>
            <!-- End Promo Section -->








            <!-- Foter -->
           <% include ../partials/footer-new.ejs %>
            <!-- End Foter -->


        </div>
        <!-- End Page Wrap -->


        <!-- JS -->
        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/SmoothScroll.js"></script>
        <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="js/all.js"></script>
        <script type="text/javascript" src="js/contact-form.js"></script>
        <script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="js/rev-slider.js"></script>
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->




</body>



</html>
