<!DOCTYPE html>
<html>
<head>
  <title>CryptoKittyHub | Bringing Tools To CryptoKitties Players Around The World </title>
  <meta name="keywords" content="crypto kitty hub, CryptoKitties, Crypto Kitties, CryptoKitties Guide, Crypto Kitties Guide, cryptokittyhub">
  <meta name="description" content="Guide to CryptoKitties">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/header.ejs %>

</head>

<body id="page-top" name="page-top" class="active">

  <% include home.ejs %>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script> -->
  <% include ../partials/body.ejs %>



    <script>



$(document).ready(function()
{
    /* smooth scrolling for scroll to top */
  $('#to-top').bind('click', function()
  {
    $('body,html').animate({
      scrollTop: 0}, 
      2500);
  });

  //Easing Scroll replace Anchor name in URL and Offset Position
  $(function(){
    $('a[href*=#]:not([href=#])').click(function()
    {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top -420
          }, 3500, 'easeOutBounce');
          return false;
        }
      }
    });
  });
});
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideDown("400");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true,true).slideUp("400");
            $(this).toggleClass('open');       
        }
    );
});

/*!
    * Sidebar.js - Bootstrap Sidebar Hover Event toggle attribute
  * onHover
  
  * Version: v2.5.8

  * LGPL v3 LICENSE INFO
  * This file is part of a Sidebar Bootstrap Element. Copyright
  * 2015 Soldier-up Designs - Website Development Company.

  * sidebar.js is a free software: you can redistribute it and/or modify
  * it under the terms of the GNU Lesser General Public License as published by
  * the Free Software Foundation, either version 3 of the License, or
  * (at your option) any later version.

  * sidebar.js is distributed as a free tool that can help you
  * add a few extra dynamics to your Web Design code. However,
  * this code and any associated code "IS" "WITHOUT ANY WARRANTY";
  * without even the implied warranty of "MERCHANTABILITY" or
  * "FITNESS FOR A PARTICULAR PURPOSE".  See the GNU Lesser
  * General Public License for more details.
*/

/*! 
  ======================= Notes ===============================
  * Used to close Sidebar on jQuery Element "Mouseleave" Event 
  * This was a pain in the Ass to create 
  * and to not break the rest of the jQuery 
  * and Bootstrap API Script ()Did that once or twice in
  - Development)
  ========== END Crude Vocabulary (...and notes) ==============
*/

/*! 
  ================= ^ Ranting Stops Here ^ ====================
  ==================== Code Starts Below ======================
*/

$(document).ready(function()
{
  
  // Closes the sidebar menu on menu-close button click event
  $("#menu-close").click(function(e)              //declare the element event ...'(e)' = event (shorthand)
  {
                                // - will not work otherwise")
   // $("#sidebar-wrapper").toggleClass("active");      instead on click event toggle active CSS element
      $('#sidebar-wrapper').toggleClass('active',false); 
    e.preventDefault();                   //prevent the default action ("Do not remove as the code
    
    /*!
    ======================= Notes ===============================
    * see: .sidebar-wrapper.active in: style.css
    ==================== END Notes ==============================
    */
  });                             //Close 'function()'

  // Open the Sidebar-wrapper on Hover
  $("#menu-toggle").hover(function(e)             //declare the element event ...'(e)' = event (shorthand)
  {
    $("#sidebar-wrapper").toggleClass("active",true);   //instead on click event toggle active CSS element
    e.preventDefault();                   //prevent the default action ("Do not remove as the code
  });

  $("#menu-toggle").bind('click',function(e)          //declare the element event ...'(e)' = event (shorthand)
  {
    $("#sidebar-wrapper").toggleClass("active",true);   //instead on click event toggle active CSS element
    e.preventDefault();                   //prevent the default action ("Do not remove as the code
  });                             //Close 'function()'

  $('#sidebar-wrapper').mouseleave(function(e)        //declare the jQuery: mouseleave() event 
                                // - see: ('//api.jquery.com/mouseleave/' for details)
  {
    /*! .toggleClass( className, state ) */
    $('#sidebar-wrapper').toggleClass('active',false);    /* toggleClass: Add or remove one or more classes from each element
                                in the set of matched elements, depending on either the class's
                                presence or the value of the state argument */
    e.stopPropagation();                  //Prevents the event from bubbling up the DOM tree
                                // - see: ('//api.jquery.com/event.stopPropagation/' for details)
                                
    e.preventDefault();                   // Prevent the default action of the event will not be triggered
                                // - see: ('//api.jquery.com/event.preventDefault/' for details)
  });
});
 
    $(document).ready(function() {









    (function($) {
    $.fn.cryptoCase = function(address) {
      const URL = 'https://api.cryptokitties.co/kitties?owner_wallet_address='
          + address;
      const INDIVIDUAL_URL = 'https:\/\/www.cryptokitties.co\/kitty\/';
      var location = this;
      const COLORS = new Object();
        COLORS['sizzurp'] = '#c1c1ea';
        COLORS['bubblegum'] = '#fcdede';
        COLORS['limegreen'] = '#d9f5cb';
        COLORS['topaz'] = '#d1eeeb';
        COLORS['thundergrey'] = '#eee9e8';
        COLORS['chestnut'] = '#efe1da';
        COLORS['mintgreen'] = '#cdf5d4';
        COLORS['pumpkin'] = '#fae1ca';
        COLORS['gold'] = '#faf4cf';
        COLORS['babypuke'] = '#eff1e0';
        COLORS['strawberry'] = '#fcdede';
      var newColors = new Object();
      var cats = "";
 
          cats += "<div class=\"container\"><div class=\"well\ wellColor\">"
              + "<div><a href=\"https:\/\/www.cryptokitties.co\/profile\/0x730952cc677b1f432893d53cbf528baccbbf2441\/all?orderBy=current_price&orderDirection=asc\">"
              + "<img class=\"logo\""
              + " src=\"https:\/\/www.cryptokitties.co\/downloads\/logo.svg\">"
              + "<\/a><\/div><div class=\"text-center\"><h4>Click on a CryptoKitty to view the current listing</h4></div><div class=\"row\">";
          var max = 12;
          var j = max;
          var kittyList=[

              {id:481046 , name: "Shock", color: 'strawberry', special:''},
              {id:146209 , name: "Tease", color: 'gold', special:'' },
              {id:427475 , name: "King Manchas", color: 'strawberry', special:'Jaguar' },
              {id:115726 , name: "Royal Purple", color: 'topaz', special:'' },
              {id:472547 , name: "Henna", color: 'mintgreen', special:'' },
              {id:74504 , name: "Mint Duck", color: 'mintgreen', special:'' },
              {id:346616 , name: "Cali Cool", color: 'gold', special:'' },
              {id:347130 , name: "Leopard", color: 'mintgreen',special:''}, 
              {id:346614 , name: "Water Sprite", color: 'gold', special:'' },
              {id:347797 , name: "Lookie Loo" , color: 'gold', special:'' },
              {id:438715 , name: "Snow", color: 'limegreen', special:''},
              {id:435692 , name: "Flash", color: 'gold', special:''},

          ];

          var address2="0x06012c8cf97bead5deae237070f9587f8e7a266d"
          for (i = 0; i < max; i++) {
           // var cat = response.kitties[i];
            var kitty = kittyList[i];
            var details = "";
            details += "<div class=\"textbox\" align=\"center\">"
                + "<span class=\"kittyTextID\"><b>"
                + kitty.name + "</b><\/span><span class=\"details\"> &#xB7; <\/span>";
            if (kitty.color == 'gold') {
              details += "<span class=\"details\"> &#xB7; Gold<\/span>";
            } 

            if (kitty.special=='Jaguar') {
              details += "<span class=\"details\"> &#xB7; Jaguar<\/span>";
            }
              details += "<\/div>";
            if (i == 4 || i == 8) {
              cats += "<div class=\"row\">";
            }
            cats += "<div class=\"col-sm-6 col-md-3\" align=\"center\">"
                + "<div class=\"kittyCard\" id=\"" + j + "\">"
                + "<a href=\"" + INDIVIDUAL_URL + kitty.id + "\"><img class=\""
                + "image img-responsive\" src= https://storage.googleapis.com/ck-kitty-image/" + address2 + "/" + kitty.id + ".svg"  + " id=\""
                + i + "\"><\/a></div>" + "<div>" + details + "</div></div>";
            if (i == 3 || i == 7 || i == 11) {
              cats += "<\/div>";
            }
            newColors[i] = COLORS[kitty.color];
            newColors[j] = COLORS[kitty.color];
            j++;
          }
          cats += "</div></div>";
          $(location).html(cats);
          for (i = 0; i < max; i++) {
            var change = "#" + i;
            $(change).css('background-color', newColors[i]);
            $(change).css('border-radius', '5px');
          }
          for (l = max; l < (max * 2); l++) {
            var change2 = "#" + l;
            $(change2).css('background-color', newColors[j]);
          }
        
    };
}(jQuery));

      const MY_ADDRESS = '0x730952cc677b1f432893d53cbf528baccbbf2441';
      $('#cryptokitties').cryptoCase(MY_ADDRESS);

    });
  </script>
</body>

<!--<footer>
  <% include ../partials/footer.ejs %>
</footer>-->


</html>
