<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <% include home.ejs %>

</body>

<footer>
  <% include ../partials/footer.ejs %>
</footer>


</html>
