<!DOCTYPE html>
<html>
<head>
  <title>CryptoKitties Hub</title>
  <meta name="keywords" content="CryptoKitties, Crypto Kitties, CryptoKitties Guide, Crypto Kitties Guide">
  <meta name="description" content="Guide to CryptoKitties">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include home.ejs %>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script> -->
  <% include ../partials/body.ejs %>
</body>

<footer>
  <% include ../partials/footer.ejs %>
</footer>


</html>
