<!DOCTYPE html>
<html>
<head>
  <title>CryptoKittyHub | Bringing Tools To CryptoKitties Players Around The World </title>
  <meta name="keywords" content="crypto kitty hub, CryptoKitties, Crypto Kitties, CryptoKitties Guide, Crypto Kitties Guide, cryptokittyhub">
  <meta name="description" content="Guide to CryptoKitties">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include home.ejs %>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script> -->
  <% include ../partials/body.ejs %>

    <script>
    $(document).ready(function() {
      const MY_ADDRESS = '0x730952cc677b1f432893d53cbf528baccbbf2441';
      $('#cryptokitties').cryptoCase(MY_ADDRESS);
    });
  </script>
</body>

<footer>
  <% include ../partials/footer.ejs %>
</footer>


</html>
