<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CryptoCase</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.rawgit.com/clairestovall/CryptoKittyCase/1.0.2/stylesheet.css">

</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="cryptokitties"></div>
  <script>
    $(document).ready(function() {
      const MY_ADDRESS = '0x730952cc677b1f432893d53cbf528baccbbf2441';
      $('#cryptokitties').cryptoCase(MY_ADDRESS);
    });
  </script>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->

  <% include ../partials/body.ejs %>

</body>

<footer>
  <% include ../partials/footer.ejs %>
</footer>


</html>
