<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CryptoKitties Video Tutorials</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />

</head>

<body>

  <% include ../partials/nav.ejs %>
 
  <section style="height:100%" class="second clearfix">

      <article class="video">
          <figure>
          <a class="fancybox fancybox.iframe" href="https://youtu.be/2n5sIG_r5Gw"><img class="videoThumb" src="//i1.ytimg.com/vi/2n5sIG_r5Gw/mqdefault.jpg"></a>
          </figure>
          <div style="margin-left:5px">
            <h3  class="videoTitle">#1 Getting Started</h3>
            <p> Step by step installation tutorial to get started in CryptoKitties.</p>
        </div>
        </article>
      <article class="video">
          <figure>
          <a class="fancybox fancybox.iframe" href="https://youtu.be/FT3CKqBjAfc"><img class="videoThumb" src="//i1.ytimg.com/vi/FT3CKqBjAfc/mqdefault.jpg"></a>
          </figure>
          <div style="margin-left:5px">
            <h3  class="videoTitle">#2 Breeding Guide</h3>
            <p> Analysis on what kitties to buy for when starting the game</p>
          </div>
        </article>



    </section>
    
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>

  <script>
    $(document).ready(function() {
      $('.fancybox').fancybox({
        padding   : 0,
        maxWidth  : '100%',
        maxHeight : '100%',
        width   : 560,
        height    : 315,
        autoSize  : true,
        closeClick  : true,
        openEffect  : 'elastic',
        closeEffect : 'elastic'
      });
    });
  </script>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->

</body>

  <footer>
  <% include ../partials/footer.ejs %>
</footer>



</html>


